.example-spacer {
    flex: 1 1 auto;
  }
  
  .navbar-nav {
    margin-left: auto;
  }
  
  .activeClass{
    background-color: rgb(245, 153, 153);
    opacity: .8;
    /* color: black; */
    z-index: -1;
    border-radius: 5px;
  }
  
  .nav-item{
    padding-left : 14px;
    padding-right : 14px;
    font-size: 1.3rem;
  
    /* background-color: rgb(223, 97, 97); */
  }
  
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  /* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th{
  width: 25%
}

.example-spacer {
  flex: 1 1 auto;
}

.navbar-nav {
  margin-left: auto;
  color: black;
}

.activeClass{
  background-color: rgb(243, 227, 227);
  opacity: .8;
  z-index: -1;
  border-radius: 5px;
}

.nav-item .nav-link {
  color: black;
}

.nav-item :hover{
  background-color: aliceblue;
  opacity: .5;
  z-index: -1;
  border-radius: 5px;
}
.nav-item{
  padding-left : 14px;
  padding-right : 14px;
  font-size: 1.3rem;
  font-style: italic;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  /* background-color: rgb(223, 97, 97); */
}