<!-- <p>Admin</p> -->
<div class="sidebar-layout-bottom-row p-3 container-fluid">
    <p>List of All Patients</p>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th *ngFor="let column of headers" scope="col">
                  {{column.displayName}}
                </th>
              </tr>
            </thead>
            <tbody>
              <!--<tr *ngFor="let singleRecord of patientRecords">
                <td *ngFor="let columnName of headerNames">
                  {{singleRecord[columnName.keyName]}}
                </td>
              </tr>-->
              <!-- <tr *ngFor="let singleRecord of patientRecords$ | async">
                <td>{{singleRecord.patientId}}</td>
                <td>{{singleRecord.firstName}}</td>
                <td>{{singleRecord.lastName}}</td>
              </tr> -->
              <tr *ngFor="let singleRecord of patientRec">
                <td>{{singleRecord.patientId}}</td>
                <td>{{singleRecord.firstName}}</td>
                <td>{{singleRecord.lastName}}</td>
              </tr>
            </tbody>
          </table>
          <span>Total count: {{(patientRec)?.length}}</span>
          <!-- <li *ngFor="let record of patientRec">
              {{record.firstName}}
          </li> -->
    </div>
</div>