<div class="container my-5">
  
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center">Add New Patient</h1>

      <form [formGroup]="newPatientForm" (ngSubmit)="onSubmit()">

        <!-- first -->
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Your First Name" formControlName="firstName">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Your Last Name" formControlName="lastName">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Your Email Address" formControlName="email">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input matInput placeholder="Your Phone Number" formControlName="phoneNumber">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Address</mat-label>
          <textarea matInput placeholder="Address" formControlName="address"></textarea>
        </mat-form-field>

        <mat-form-field  class="full-width" appearance="outline">
          <mat-label>Blood Group</mat-label>
          <mat-select formControlName="bloodGroup">
            <mat-option *ngFor="let bloodGroup of bloodGroups" value="{{bloodGroup}}"> {{bloodGroup}} </mat-option>
           
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Choose DOB</mat-label>
          <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" [formControl]="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div class="container text-center">

          <button type="submit" mat-raised-button color="primary"
           >Register</button>
          <button style="margin-left: 20px" type="button" mat-raised-button color="accent">Clear</button>
        </div>

      </form>



    </div>
    
  </div>
</div>