<div class="container my-5">
  
    <div class="row">
      <div class="col-md-6 offset-md-3">

        <mat-card>
        <mat-card-title class="text-center">Add New Doctor</mat-card-title>
        <mat-card-subtitle class="text-center" 
          *ngIf="!newDoctorForm.valid && newDoctorForm.touched"> 
          * All Fields are Neccessary
        </mat-card-subtitle>
        
        <mat-card-content>
        <form #form = "ngForm" [formGroup]="newDoctorForm" (ngSubmit)="onSubmit()">
  
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>User Id</mat-label>
            <input matInput placeholder="Unique Doctor Id" formControlName="userId">
            <mat-hint *ngIf="!newDoctorForm.get('userId')?.valid && newDoctorForm.get('userId')?.touched" > User Id Should be between 3 and 12 characters long</mat-hint>
          </mat-form-field>
         
          <!-- first -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Your First Name" formControlName="firstName">
            <mat-hint *ngIf="!newDoctorForm.get('firstName')?.valid && newDoctorForm.get('firstName')?.touched" > Length between 3 and 12 characters long</mat-hint>
          </mat-form-field>
  
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Your Last Name" formControlName="lastName">
            <mat-hint *ngIf="!newDoctorForm.get('lastName')?.valid && newDoctorForm.get('lastName')?.touched" > Length between 3 and 12 characters long</mat-hint>

          </mat-form-field>
  
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Your Email Address" formControlName="email">
            <mat-hint *ngIf="!newDoctorForm.get('email')?.valid && newDoctorForm.get('email')?.touched" > Enter a valid email</mat-hint>

          </mat-form-field>
  
          
  
          <mat-form-field  class="full-width" appearance="outline">
            <mat-label>Select Speciality</mat-label>
            <mat-select formControlName="speciality">
              <mat-option *ngFor="let speciality of specialities" value="{{speciality}}"> {{speciality}} </mat-option>
            </mat-select>
            <mat-hint *ngIf="!newDoctorForm.get('speciality')?.valid && newDoctorForm.get('speciality')?.touched" > Choose a Speciality</mat-hint>

          </mat-form-field>
  

  
          <div class="container text-center">
  
            
            <button type="submit" mat-raised-button color="primary"
              [disabled]="!newDoctorForm.valid"
              >Register</button>
  
            <button style="margin-left: 20px" type="button" mat-raised-button color="accent"
              (click)="clearForm()">Clear</button>
          </div>
  
        </form>
        </mat-card-content>
  
        </mat-card>
  
      </div>
      
    </div>
  </div>